Unicode filenames in form uploads: Misuse of RFC 2231 in urllib3?

Hi everyone,

I notices that urllib3 (and therefore requests) uses RFC-2231 extended attributes when uploading `multipart/form-data` with unicode filenames.

    Content-Disposition: form-data; name="file"; filename*=utf-8''%E6%9D%B1%E4%BA%AC.png

I wanted to start a discussion in this topic.

A quick test showed that RFC-2231 is not fully supported by `werkzeug`, `cgi.FieldStorage` or`multipart`. I suspect that the majority of server-side parsers for multipart form uploads cannot read these parameters. This is probably because modern browsers don't use this standard. Firefox and chrome simply encode headers with UTF-8 and call it a day.

If we look at Apache HttpClient, arguably the most widely used HTTP client library (which is not a browser) out there, we can find this in the source:

https://github.com/apache/httpclient/blob/trunk/httpclient5/src/main/java/org/apache/hc/client5/http/entity/mime/HttpRFC6532Multipart.java#L37

     HttpRFC6532Multipart represents a collection of MIME multipart encoded content bodies,
     implementing the strict (RFC 822, RFC 2045, RFC 2046 compliant) interpretation
     of the spec, with the exception of allowing UTF-8 headers, as per RFC6532.

So, Apache HTTPClient also just encodes these headers in UTF-8 and does not use RFC 2231.

I propose dropping RFC-2231 headers in favour of plain UTF-8 headers in the `multipart/form-data` generator of urllib3.


Thanks! This is a duplicate of, and being handled in, #856.