@GrahamDumpleton better solution is to use Python's logging module and then redirect the information to the log:
```
import logging
logging.captureWarnings(True)
```
Works without having to do anything specific to urllib3 or Python Requests; and keeps the messages off the console so the user doesn't get annoyed by things that are out-of-their-control.

@BenjamenMeyer Having it fill the logs is no better for us. We use ``with warnings.catch_warnings()`` around the one call in our code and make it go away entirely. No need to modify requests/urllib3 for that either.

@GrahamDumpleton another good resolution too.

I wasn't so much as referring to modifying requests/urllib3 as having to call:
```python
requests.packages.urllib3.disable_warnings()
```
or
```python
urllib3.disable_warnings()
```
Code specific to either library and probably removes more warnings than desired.

@BenjamenMeyer Note that disable_warnings accepts a category that allows you to filter by whatever you wish. https://github.com/shazow/urllib3/blob/master/urllib3/__init__.py#L62

@shazow And I would have to have intricate knowledge of urllib3 to figure out what was the right filter to apply. Even so, it's better to capture it in the logger which can also be filtered as desired at the application level.

Of course, I come from a school of thought of toss everything in the log and then filter it all together. I'd rather having a single setting for that than a dozen; and certainly not on a per-API level when an application may use multiple APIs to provide its functionalities.

I am getting this warning. I would love to have a recipe to create X.509 certificates with OpenSSL usable without "requests" warnings.

I the meantime I just downgraded to "requests" 2.4.3 :-(.

[A quick search](https://encrypted.google.com/search?hl=en&q=openssl%20create%20x.509%20with%20subjectAltName) leads to a [StackOverflow answer](https://stackoverflow.com/questions/21488845/how-can-i-generate-a-self-signed-certificate-with-subjectaltname-using-openssl) and other apparently similar resources. It isn't the role of requests or urllib3 to educate people on how to generate X.509 certificates.

It would be helpful if the warning mentioned the URL that was being accessed.

@mgedmin We considered that, but I believe it's tricky because warnings are typically filtered by their content, so dynamic content makes that hard. I think you can get extra info by enabling debug logging, like `urllib3.add_stderr_logger()`

(Also is this issue okay to close?)

Huh? Content-based warning filtering in Python uses [regular expressions](https://docs.python.org/2/library/warnings.html#the-warnings-filter).  If you know those, adding a `.*` at the right place is trivial.  If you don't know regular expressions, you're going to have a hard time matching the parentheses in the current warning message:

```
.../venv/local/lib/python2.7/site-packages/requests/packages/urllib3/connection.py:251: SecurityWarning: Certificate has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SecurityWarning
```


Deprecation of this is fine, but please make it easy to re-enable support for this if a user needs it. We use requests and urllib3 to (among other things) work with embedded systems which have all manner of interesting and broken certificates installed from the manufacturer.

@PaulMcMillan this is going to be a very long deprecation period. We want to raise awareness so people will bug the services they're using into updating their certificates and then only a tiny minority of people will need to re-enable it.

Well, I can say that your deprecation warning did encourage us to fix some certs we were using for testing, so it's doing the job.

@PaulMcMillan You have no idea how happy I am to hear that. :)

Do you have a hint how to suppress the SubjectAltNameWarning?
I do not control the client, nor the server, but have to live with both.
I am no Python expert, so I tried PYTHONWARNINGS="ignore:DeprecationWarning" blindly, but that didn't work.
Is there a way to suppress it on the command line (Ubuntu 14.04, Python 2.7.6)?

>>> requests.get("https://identity.api.rackspacecloud.com")

/some-venv/lib/python3.4/site-packages/requests/packages/urllib3/connection.py:251: SecurityWarning: Certificate has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SecurityWarning


@leeclemens That decision is on Rackspace support, but they really should aim to replace their certificates. In the meantime, as with all our other warnings you can suppress this one using the stdlib `warnings` module. 

@Lukasa Agreed, and thank you for your response. I just wanted to provide it based on the previous comment "put a warning in and see if anyone complains" - figuring Rackspace's identity API may be widely used by others using urllib3/requests who may stumble upon this (as I did).

@leeclemens Rackspace knowingly replaced their certificate like this. (If you look at the date it was issued and the date it expires, you'll see this is a relatively new certificate and I know of no certificate authority that issues certificates any longer without a SAN unless requested to do so.) So while our cloud (yes I presently work at Rackspace) may be widely used, and it may *presently* be a minor annoyance, it isn't something we should be ignoring.

@vlerenc Did you find a solution? I have the same problem here.

No, but for the time being (until the issue gets fixed), I am happy that you found a work-around.

This hides it (and all warnings):
```python
warnings.filterwarnings("ignore")
```
but I haven't been able to get this to work in hiding only this specific warning/category:
```python
import urllib3.exceptions
warnings.filterwarnings("ignore", category=urllib3.exceptions.SubjectAltNameWarning)
```

I can only influence the behavior from the console, but I tried `PYWARNINGS="ignore"` as well. Suppressing the SAN warning never worked for me from the console.

As written above, is it maybe because of the missing append=true in line `https://github.com/shazow/urllib3/blob/master/urllib3/__init__.py#L62`?

It is ``PYTHONWARNINGS`` not ``PYWARNINGS``.

https://docs.python.org/2/using/cmdline.html#envvar-PYTHONWARNINGS

Yeah, just a copy&paste error, see my first comment. I use the right one as it suppresses other messages, but not the SAN warning.

Hi need help to suppress warning 
```
[root@openstack-client1 ~]# keystone tenant-list
/usr/lib/python2.7/site-packages/urllib3/connection.py:252: SecurityWarning: Certificate has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SecurityWarning
```
What i have tried is , i edited ```  /usr/lib/python2.7/site-packages/urllib3/connection.py ``` and added 
at the beginning of file
```
import requests.packages.urllib3
requests.packages.urllib3.disable_warnings()
```
As shown below
```
[root@openstack-client1 ~]# cat /usr/lib/python2.7/site-packages/urllib3/connection.py
import datetime
import sys
import socket
from socket import timeout as SocketTimeout
import warnings
from .packages import six

import requests.packages.urllib3
requests.packages.urllib3.disable_warnings()

```
Now its worst and getting this error 
```
[root@openstack-client1 ~]# keystone tenant-list
Traceback (most recent call last):
  File "/bin/keystone", line 6, in <module>
    from keystoneclient.shell import main
  File "/usr/lib/python2.7/site-packages/keystoneclient/__init__.py", line 26, in <module>
    from keystoneclient import client
  File "/usr/lib/python2.7/site-packages/keystoneclient/client.py", line 13, in <module>
    from keystoneclient import discover
  File "/usr/lib/python2.7/site-packages/keystoneclient/discover.py", line 19, in <module>
    from keystoneclient import session as client_session
  File "/usr/lib/python2.7/site-packages/keystoneclient/session.py", line 20, in <module>
    import requests
  File "/usr/lib/python2.7/site-packages/requests/__init__.py", line 53, in <module>
    from .packages.urllib3.contrib import pyopenssl
  File "/usr/lib/python2.7/site-packages/requests/packages/__init__.py", line 92, in load_module
    __import__(real_name)
  File "/usr/lib/python2.7/site-packages/urllib3/__init__.py", line 10, in <module>
    from .connectionpool import (
  File "/usr/lib/python2.7/site-packages/urllib3/connectionpool.py", line 31, in <module>
    from .connection import (
  File "/usr/lib/python2.7/site-packages/urllib3/connection.py", line 9, in <module>
    requests.packages.urllib3.disable_warnings()
AttributeError: 'module' object has no attribute 'disable_warnings'
[root@openstack-client1 ~]#
```
I don't have much experience with python , please guide me where i am doing mistake.

Thank you


In the `__init__.py` file, put this at the bottom of the file.

```python
disable_warnings()
```

The file you're editing is the one that has `disable_warnings` defined, so you don't need to do an import.

Hi @Lukasa 

Thanks for your response 

1# I cound not find disable_warnings function defined in 
```
[root@controller ~]# cat /usr/lib/python2.7/site-packages/urllib3/connection.py | grep -i disable_warnings
[root@controller ~]#
```
2# I have also tried to edit ```/usr/lib/python2.7/site-packages/urllib3/__init__.py```  and added ```disable_warnings()``` at the bottom of file, like this.

```
def disable_warnings(category=exceptions.HTTPWarning):
    """
    Helper for quickly disabling all urllib3 warnings.
    """
    warnings.simplefilter('ignore', category)
disable_warnings()

[root@controller urllib3]#
```
But still getting 
```
 [root@controller ~]# keystone tenant-list
/usr/lib/python2.7/site-packages/urllib3/connection.py:251: SecurityWarning: Certificate has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SecurityWarning
```
I might be doing something silly. Please help

@ksingh7 If that's really not working then it suggests someone (another of keystone's imports probably) is putting a filter in place *after* the import of urllib3 happens that is causing the filter list to get reset, or for this warning to otherwise not get filtered out.

In this case, your options either are to edit keystone itself to suppress this warning (making sure it is called after all imports) or to fix the problem with the certificate itself.

Please do NOT remove support for certificates without subjectAltName! 
RFC 2818 mandates support for it!

You're citing RFC 2818 as reason to remove the feature, but actually the RFC is stating:

"
   If a subjectAltName extension of type dNSName is present, that MUST
   be used as the identity. Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate MUST be used. Although
   the use of the Common Name is existing practice, it is deprecated and
   Certification Authorities are encouraged to use the dNSName instead.
   If a subjectAltName extension of type dNSName is present, that MUST
   be used as the identity. Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate MUST be used. Although
   the use of the Common Name is existing practice, it is deprecated and
   Certification Authorities are encouraged to use the dNSName instead.
"

Certificates without a subjectAltName are perfectly valid according to the RFC 2818.

So actually - in order to fulfill RFC 2818 - you still need to accept certificates without subjectAltName.

(Sidenote: This topic came up as a coworker asked me to replace my "depcrecated" server certificate or they might be unable to access the foreman API somewhere in future. Unfortunately, this certificate is generated by puppet in an automatic manner. Of course, the puppet devs now can point at RFC 2818 and say that the certificate is perfectly valid.)

Thank you.

RFC 2818 is not the reason to remove this support. RFC 2818 does point out that the use of the CommonName field is deprecated, which means that anyone issuing a certificate that does not contain the subjectAltName field is relying on deprecated function. Given the definition of deprecated (which is to say that that function may be removed at any time: the IETF is totally ok to update RFC 2818 to say that commonName is no longer supported without any warning), any entity generating certificates without appropriate SAN fields is risking their code breaking imminently.

The *real* reason to remove this support is the [CA forum baseline requirements](https://cabforum.org/baseline-requirements/). The current version of the document some things to say. Firstly, it says in § 7.1.4.2.1 (Subject Alternative Name Extension):

> **Certificate Field**: extensions:subjectAltName 
> **Required/Optional**: Required
> **Contents**: This extension MUST contain at least one entry. Each entry MUST be either a dNSName containing the Fully-Qualified Domain Name or iPAddress containing the IP address of a server.

Then, in § 7.1.4.2.2 (Subject Distinguished Name Fields):

> **Certificate Field**: subject:commonName (OID 2.5.4.3)
> **Required/Optional**: Deprecated (Discouraged, but not prohibited)
> **Contents**: If present, this field MUST contain a single IP address or Fully-Qualified Domain Name that is one of the values contained in the Certificate's subjectAltName extension (see Section 7.1.4.2.1).

This has been the case since 2012. It's been a long time since a CA was prepared to issue *anyone* a cert that did not contain a subjectAltName field.

The reason this is *important* is that the CommonName is *not required* to be a hostname! This allows you to confuse a TLS stack by providing something in the CommonName field that looks a lot like a hostname, but is not the hostname of your actual server. A certificate with CommonName only, no subjectAltName, represents a security risk, and should be reissued as swiftly as possible so that we can stop using the CommonName field to validate them.

The final reason to deprecate: this functionality is on a removal roadmap in most major browsers.

> The final reason to deprecate: this functionality is on a removal roadmap in most major browsers.

There are links to both Chromium & Firefox discussions about this and the *very* low impact of removing this deprecated functionality. For the use-cases measured by the Chromium team, the impact was less than 0.5% except on "enterprise" networks that use their own Certificate Authority where that would jump to ~2%.

That said, browser usage statistics and urllib3/requests usage statistics aren't directly related but they can browser statistics can inform us on the likelihood of things breaking for our users. This is why we've started providing warnings to users. Not only should we be removing support common names, we likely won't be the only group removing them when we do. In fact, we'll probably lag behind the browsers, but there are many good reasons that @Lukasa pointed out for doing this (whenever we actually do it).

Thank you for the feedback. It makes me revise my standpoint. I'll go on and ask the puppet devs to change their behaviour in https://github.com/puppetlabs/puppet/blob/master/lib/puppet/ssl/certificate_authority.rb#L143&. 

Yet I still expect a lot appliances and applications to be non-conformant: Server management cards, other embedded systems, puppet, nearly any home-grown (non-public) or EJBCA-driven CAs.

@mleiner For clarity, we are not scheduling the removal of support for commonName at this time. However, we want to do it, and we will eventually, which is why the warning is in place *now*. =)

I get this warning message from some python openstack clients (like nova and cinder), but my server certificate does have a subjectAltName.  I do not get this warning from the python-openstackclient.  It is a self-signed certificate and the subjectAltName is an IP address.

Hi @dave-mccowan can you share the certificates or no? It's very suspicious that you're getting this with certificates that have SANs when I don't see this at all with certificates that have SANs. Can you provide more context?

@dave-mccowan Are you using the PyOpenSSL stack? That doesn't support iPAddress in SAN fields, so could cause this problem.

@Lukasa Dave emailed me privately with the certificate. He mentioned he was using `ndg-httpsclient` and the certificate's SAN was an IP Address. I think we're already fixing this for you, @dave-mccowan with #846

 I have opinion either way here however It appears from the deprecation notice I'm receiving this will disable usage of a Puppet PKI as a trusted CA between service API's in 3.x.
```
2016-09-10 00:45:03,318:  (_new_conn)  Starting new HTTPS connection (1): ********
/opt/strapper/venv/lib/python3.4/site-packages/requests/packages/urllib3/connection.py:303: SubjectAltNameWarning: Certificate for ******** has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SubjectAltNameWarning
```

That's unfortunate. However, Puppet's tooling inevitably allows adding SAN fields to their certs, so this should be resolvable. 

It seems to me the the RFC2818 only deprecates use of CommonName when the dNSName is present, and where dNSName is _not_ present, use of CommonName is _MANDATED_ :

>    If a subjectAltName extension of type dNSName is present, that MUST
>    be used as the identity. **Otherwise, the (most specific) Common Name
>    field in the Subject field of the certificate MUST be used.** Although
>    the use of the Common Name is existing practice, it is deprecated and
>    Certification Authorities are encouraged to use the dNSName instead.

Therefore, I think this warning should be removed.
Because: either the dNSName is present and we MUST use that, or dNSName is not present and we MUST use CommonName.

The only thing that's being deprecated is use of CommonName where dNSName is _also_ present.  

Please consider removing this warning.
Even if you don't remove the warning, please DON'T break the internet by removing support for use of CommonName entirely.

Common names are really going away in browsers. [Ryan Sleevi](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/4v82AueNjaQ/loIaBsXIBQAJ) has just proposed actually removing support for them, after their nearly two-decade deprecation period. Their policy may end up being more subtle than we can replicate (we can't draw the public/private certificate distinction Chrome does), in which case we'd probably need to further delay this, but nonetheless: time marches on.

To keep this updated, the next Chrome release drops support for CN.

Before doing anything here, urllib3 should finish adding support for SubjectAltName. I'm seeing this warning in cases where there IS a SubjectAltName, but it is in the IP form rather than the DNS form. See RFC 5280 section 4.2.1.6. It is relatively common to not have DNS setup in certain internal enterprise environments. If there is no DNS, obviously it doesn't make sense to put a hostname in SubjectAltName. You may say just don't use https in those cases, but there are various reasons why that doesn't work, including use of tools where http is not an option.

It's also worth noting that what web browsers do should only be marginally relevant here. A web browser vendor may decide not to worry about https access to IP-only websites (i.e. no DNS), but a library like urllib3 is used in products from exponentially more vendors and should not force a decision like that on all of them. That's not to say I'm against removing the fall-back to CommonName. I'm actually in favor of that, once SubjectAltName is fully and correctly supported. It's more to remind that we need to keep web usage vs. urllib3 usage in proper perspective. And to question the mention of web browsers in the warning message...

If you install the ipaddress module or upgrade to a version of Python that includes it you'll find that IP SAN fields work just fine. 

@Lukasa Maybe urllib3 should have a conditional dependency on the ipaddress on 2.x?

@dstufft It's made us a bit nervous because urllib3 needs to be able to tolerate its absence for the purposes of things like Requests, and in general because urllib3 wants to be safe to bundle. See #922 for more.

@Lukasa Seems like it shouldn't be very hard for requests to bundle ipaddress too, but *shrug* not my project :P

Sooooo the general rule for Requests is that we vendor dependencies with *no patches of any kind*, not even import rewriting. That would mean we need to perform sys.path hacks to get this to work, and at a certain point we're trying very hard to resolve a problem that doesn't affect that many people.

Not doing import rewriting seems like a bad rule to me, but okay!

I need IP SANs working in requests as much as in urllib3. Are you saying that's not going to happen, or should installing this ipaddress module fix requests as well?

It'll fix requests as well.

Cool, I'll give it a shot. Is https://github.com/shazow/urllib3/pull/846 unnecessary, then? Should it be invalidated?

Yup, just closed it.

@Lukasa I have python-ipaddress 1.0.16-2 installed (from RHEL) but urllib3 is still ignoring IP addresses in subjectAltNames. Tried with urllib3 version 1.16. Do I need a newer version of ipaddress, of urllib3, of both, something else... ?

I was actually using requests 2.10.0 if that matters

@edmondsw Could you open a separate issue along with your environment (`pip freeze`) etc and all the other details to replicate the issue you're experiencing? You can link to this issue in your new issue.

@SethMichaelLarson I think I figured it out, and I don't think it's a urllib3 bug, so I won't bother y'all with an issue. I had a requests rpm that had requests/packages/urllib3 setup as a link back to ../../urllib3 instead of bundling it, and in that case you appear to need at least urllib3 version 1.17 for IP SANs to work. Things work fine with current versions, or with any pip combination that I tried (forgoing rpms).

@sigmavirus24 @Lukasa @shazow,

Chrome 58 removed Common Name support as of April 19 2017. I would like to propose that we define the remainder of our deprecation process as such:

1. On or about April 19, 2018, we will release a version of urllib3 that will disregard Common Names unless a method to specifically enable support is called:
    `urllib3.enable_temporary_rfc2818_variance_certificate_common_name_support()`
2. On or about April 19 2019, we will release a version of urllib3 that disables common name support altogether and only validate based on SAN.

I'm perfectly fine with skipping step 1 altogether if that has support from the rest of the maintenance team.

Step 1 I'm on board with but I think it should not be a global function like that. Instead I think it should be part of an SSLContext set-up that the user passes in that way it's *per-connection*.

👍 to everything. For historical reference, Firefox also requires a SAN https://hg.mozilla.org/mozilla-central/rev/dc40f46fae48

@alex Is this also true for private CAs? Firefox used to require SAN only for public CAs in the public trust store (``libnssckbi.so`` PKCS\#11 provider), but not for private CAs.

For Chrome: By default: all. But there's an enterprise option to allow CNs (the option is being removed shortly).

For Firefox: Public and issued in 2016+ only.

+1 about changing. It does seem this should be scoped more tightly than global. 

Okay, we'll scope it to `SSLContext` and require the manual creation of same along with passing it explicitly to the PoolManager. I'm fine with that; every bit of additional cognitive load that we add for this is a Good Thing IMO.

Cool, are you interested implementation this?

Unless another maintainer has time on their hands, I assumed I would be handling it. I'll want a couple reviews, though, to make sure we're not breaking anything in a hidden way.

Awesome, please CC me on the PR and I'll take a look

On Jan 11, 2018 2:06 PM, "Jesse Shapiro" <notifications@github.com> wrote:

> Unless another maintainer has time on their hands, I assumed I would be
> handling it. I'll want a couple reviews, though, to make sure we're not
> breaking anything in a hidden way.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/shazow/urllib3/issues/497#issuecomment-357028837>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AAADBJOLuxzEenMLojWaqepC6P7VqWjVks5tJlujgaJpZM4C1cs->
> .
>


Sounds like I should expose ``X509_VERIFY_PARAM_set_hostflags()`` and ``X509_CHECK_FLAG_NEVER_CHECK_SUBJECT`` in 3.7, too.

@tiran yes! If you CC me on the PR I can review

**Good news:** OpenSSL 1.1.0 has ``X509_CHECK_FLAG_NEVER_CHECK_SUBJECT``.

**Bad news:** It's only ``OpenSSL`` && ``1.1.0+``. If you are running LibreSSL or < OpenSSL 1.1.0, then the flag is not available. This affects Alpine, BSD, RHEL 7, Ubuntu LTS, Apple's macOS builds, and everybody else who thinks that LibreSSL is better than OpenSSL. [It's not.](http://press-release.levchinprize.com/)

More bad news, LibreSSL doesn't even support the necessary APIs.

For future reference: https://twitter.com/sleevi_/status/955454614354235392

Hi, 
I'm using requests to make some api calls, and as of about a week ago, I get this warning message in terminal every time I make a call:

WARNING:requests.packages.urllib3.contrib.pyopenssl:A problem was encountered with the certificate that prevented urllib3 from finding the SubjectAlternativeName field. This can affect certificate validation. The error was Codepoint U+002A at position 1 of u'*' not allowed
/Library/Python/2.7/site-packages/requests/packages/urllib3/connection.py:337: SubjectAltNameWarning: Certificate for plasma-ticket.geo.apple.com has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)

Sorry if this is off topic, or not the right place to ask, but since the error points to this thread I figure this is where I should start. Is there anything I can do to get rid of this message? It's mucking up my outputs, making it harder to read script results. Thanks. 

@scottbarron1313, can you open a new issue with details about the specific version of requests and pyopenssl you have installed? Thanks!

@haikuginger sure thing.