The above summary and links were very helpful in understading the situation, thanks! Unfortunately, there still isn't a single, clear, widely adopted way to encode non-ascii file names, and web servers don't agree on what format they accept. It's a fairly simple monkeypatch to workaround if you're interacting with a single web server, but there is still a need to be able to change encoding formats per-request. @shazow @gagern Is any one working on this (or even wants to)? 

Also, here is an unbroken link to the relevant section in the current HTML5 draft: [multipart-form-data](http://w3c.github.io/html/sec-forms.html#multipart-form-data)



I'm not aware of anyone working on it, so you're welcome to claim it. :)

I just submitted a pull request, #856, which is a proposed solution (with some code from #304) for just one aspect of this issue: encoding non-ASCII file names the HTML5 way by default. I organized this so that the concept of a file name encoding style was kept within the `RequestField` class, which means that it can only be chosen at the time of construction of a `RequestField` (i.e. `__init__` or `fromtuples`). 

These are the things which aren't included:
- Encoding a non-ASCII field name parameter
  
  [This StackOverflow answer](http://stackoverflow.com/questions/20591599/why-arent-post-names-with-unicode-sent-correctly-when-using-multipart-form-data) has good collected information on this, but there's no clear answer in theory or practice, so I don't think I'm going to work on this. But if it was decided RFC 2047 is a good choice, `email.header.Header.encode` will encode it.
- Allowing for form-data encodings other than utf-8
  
  I'm not going to submit code for this either (in this PR), but I thought the latest version of #304 had a good solution: controlling this by a keyword parameter of `filepost.encode_multipart_formdata` and moving the codecs lookup to within the function.
- Only setting the Content-Type header for non-file fields

  I think this is different enough from the other points to be fixed in a separate PR.This will make it easier to code and review too.

Will this ever be fixed?

Over 4 years have passed and HTML 5 isn't a draft anymore but an official standard.

All major browsers now do it this way and most servers cannot handle the `filename*` field with RFC2231 encoding.

But urllib3 is still using the RFC2231 encoding which not only doesn't work in the real world but is also a clear violation of current standards.

@sigmavirus24, would like your thoughts on this.

Some thoughts on this:

1. RFC2231 does work in the real world, but in spite of being a standard, it's not implemented in every http server
1. We have built into this library a whole separate library for dealing with multipart/form-data, instead any future improvements should be developed as an external library (in my opinion) and (maybe) vendored in.
1. Unfortunately, a quick search of pypi indicates no one has implemented this yet
1. Provided the fact that for probably 90% of our users the status quo just works, I'm not sure how urgent this issue is, regardless of its age

> 1. RFC2231 does work in the real world, but in spite of being a standard, it's not implemented in every http server

RFC2231 is the completely wrong standard here and does not apply. The HTML5 spec has a description of how to properly encode multipart/form-data: https://www.w3.org/TR/html52/sec-forms.html#multipart-form-data

RFC7578 (which is referenced by the HTML5 spec) also very clearly states that the current way urllib3 does it (using the `filename*` field) is wrong:

> NOTE: The encoding method described in [RFC5987], which would add a
   "filename*" parameter to the Content-Disposition header field, MUST
   NOT be used.

Many - if not most - server implementations in the real world will NOT work with the current way urllib3 does it (e.g. any PHP applications).

> 4. Provided the fact that for probably 90% of our users the status quo just works, I'm not sure how urgent this issue is, regardless of its age

As this is only a problem if one tries to send non-ASCII characters in a non-file field of a multipart encoded form many of your users wont notice this problem in the first place and the rest has resigned to using a workaround or a different library. But still you will find a huge number of people discussing this problem of urllib3 with just a quick search. So this is not a valid argument.

As I understand the standards this should be a rather easy fix as well. Just using `filename` instead of `filename*` and UTF-8 instead of RFC2231 should be enough in most cases.

> Just using filename instead of filename* and UTF-8 instead of RFC2231 should be enough in most cases.

This is not actually our experience, otherwise we wouldn't have gone through the trouble to implement RFC2231. 

@zigarrre you seem passionate about this and seem to have time on your hands. We'd be open to using a library that you would produce that would do the correct thing per the HTML5 spec.


