HTTPHeaderDict breaks if header value contains a comma

It's not unusual that HTTP headers contains commas inside it. The current implementation of  HTTPHeaderDict relies on commas to copy and to get lists of values and that's not working.

For example:

```python
p = urllib3.PoolManager()
r = p.request('GET', 'https://gitlab.com/')
r.headers.getlist('set-cookie')

['_gitlab_session=6bad561209aa6c863392c013e7777fa1; path=/; expires=Mon',
 '19 Jan 2015 23:34:33 -0000; secure; HttpOnly',
 'request_method=GET; path=/']
```

In the example about the expired field of set-cookie ended up split.  

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7688521-httpheaderdict-breaks-if-header-value-contains-a-comma?utm_campaign=plugin&utm_content=tracker%2F192525&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F192525&utm_medium=issues&utm_source=github).
</bountysource-plugin>

IIRC you can set multiple cookies in a set-cookie command by separating by a comma, which is why commas are not allowed in the RFC: http://tools.ietf.org/html/rfc6265#section-4.1.1

(paging Dr. RFC reader,@sigmavirus24)

Actually the relevant section is [Section 3.2.2 of RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.2.2). Headers returned multiple times, e.g., 

```
X-Header-Name: value1
X-Header-Name: value2
```

Should be able to be represented as

```
X-Header-Name: value1, value2
```

There's a specific caveat in there though that says:

```
      Note: In practice, the "Set-Cookie" header field ([RFC6265]) often
      appears multiple times in a response message and does not use the
      list syntax, violating the above requirements on multiple header
      fields with the same name.  Since it cannot be combined into a
      single field-value, recipients ought to handle "Set-Cookie" as a
      special case while processing header fields.  (See Appendix A.2.3
      of [Kri2001] for details.)
```

`[Kri2001]` is a link to [this](http://arxiv.org/abs/cs.SE/0105018) article (quick link to [pdf](http://arxiv.org/pdf/cs/0105018v1.pdf)).

The part of that Appendix that's most relevant (IMO) is:

> If comma were to be allowed to separate cookies according to the HTTP con-vention, then a “quoting” mechanism would be necessary for attribute values, especially expires, for which two of the acceptable formats contain embedded commas, and for cookie values (although they were specified to exclude comma).

If this were the case, then combining them into the same value separated by commas wouldn't be such a problem. Unfortunately it is a problem. That said, the proposed solution in #534 doesn't seem like it will work so well. In that case, it seems like we'll need proper MultiDict support to properly handle `Set-Cookie` headers (unless we can approximate it somehow).

Typing in a browser console the following lines shows that the comma separated cookies doesn't quite work: 

```js
document.cookie = 'a=a;path=/a, b=b;path=/b'
```
The expected behavior would be to set two cookies:
```
Key: a
Value: a
Path: /a

Key: b
Value: b
Path: /b
```

What actually happens if you check your cookies is that just one cookie is set and messed up:
```
Key: a
Value: a
Path: /b
```

@sigmavirus24 about #534:

* The method `getlist` is doing exactly the same thing but instead of concatenating and after splitting I only use the values to return.

* The changes in the method `update` also doesn't break backwards compatibility. Actually it just fixes when you call HTTPHeaderDict.update. Currently that's what's happening:

```python
d1 = HTTPHeaderDict()
d1.add('a', '1')
d1.add('a', '2')
d1.add('a', '3')
d1['a']
 '1, 2, 3'
d1.getlist('a')
d1._data
{'a': [('a', '1'), ('a', '2'), ('a', '3')]}

d2 = HTTPHeaderDict()
d2.update(d1)
d2['a']
1, 2, 3'
d2._data
{'a': [('a', '1, 2, 3')]}
```
So the update actually doesn't update the HTTPHeaderDict() properly. After my changes `d2._data` would return exactly the same thing that d1._data.

* The changes in `from_httplib` are actually the only special case for the `set-cookie` header. There, instead of just setting the headers that came from httplib we use response.msg.getheaders method that will return `the set-cookie` one by one and them we add them.

So, basically I'm not changing anything in the external API I'm just trying to fix a behavior. The getlist still returning a list but now works for `set-cookie`, the __getitem__ still returning the items in just one string separating values by commas and the update respects the design of HTTPHeaderDict.

If you guys are comfortable with the implementation I'd be glad in add tests and updated the docs.

Cheers!

 

Hello @shazow, just a friendly ping :)

Recently I've migrated a project from urllib2 to urllib3 and because cookies play a very important role in this project that's a blocker to me.

If my implementation doesn't meet your expectations and doesn't get merged I would need to get cookies from `response._original_response.msg` instead of using a public attribute/method. That doesn't look like a good option to me.

Just for reference – http://bugs.python.org/issue1660009

@seocam Thanks for the ping. I'm actually on vacation, so apologies if further replies are slow for a bit. If it feels like things fell through the cracks, I welcome further pings. :)

I think @sigmavirus24 may be absent for a while, but I'd like to hear if any of his concerns still stand with your proposed solution.

#544 would also address this, as multiple headers would be preserved as lists, also through copying. So `HTTPHeaderDict.getlist()` exports the multi headers as they were received, without introducing new splits on commas.

> I think @sigmavirus24 may be absent for a while, but I'd like to hear if any of his concerns still stand with your proposed solution.

I was absent for a while. I refreshed my memory on this and I understand now the approach that @seocam is taking. It looks acceptable but it also seems like it'll hurt performance when calling `#update`. The tests are failing on the PR so I suspect @seocam is missing test coverage, otherwise I'm +1 for anything that fixes this problem properly.

@sigmavirus24, @shazow tests are now fixed.

I've also did some experiments because of your performance concerns. I've used the following code:

```python
from urllib3._collections import HTTPHeaderDict

print "Creating from a dict"
d = dict(a='1', b='2', c='3', d='4', e='5',
         f='6', g='7', h='8', i='9', j='10')
%timeit h1 = HTTPHeaderDict(d)

print
print "Updating from HTTPHeaderDict"
h1 = HTTPHeaderDict(d)
%timeit h2 = HTTPHeaderDict(); h2.update(h1)

print
print "Updating 100 times from a HTTPHeaderDict"
%timeit h2 = HTTPHeaderDict(); [h2.update(h1) for i in range(100)]
```
Those are the results:

```
Creating from a dict
 old:  100000 loops, best of 3: 9.36 µs per loop
 new1: 100000 loops, best of 3: 11.8 µs per loop
 new2: 100000 loops, best of 3: 12.1 µs per loop

Updating from HTTPHeaderDict
 old:  10000 loops, best of 3: 27.8 µs per loop
 new1: 10000 loops, best of 3: 21 µs per loop
 new2: 100000 loops, best of 3: 12.1 µs per loop

Updating 100 times from a HTTPHeaderDict
 old:  100 loops, best of 3: 2.47 ms per loop
 new1: 1000 loops, best of 3: 1.43 ms per loop
 new2: 1000 loops, best of 3: 524 µs per loop
```

`old` is the current master
`new1` is the code you have reviewed
`new2` is my latest commit (f3d4488)

The results basically shows that the old code is slightly faster when creating from a dict but the new code is faster when copying from a HTTPHeaderDict (that's the case in every request). After my improvements the code t's a lot faster than the old code.

So, tests passing and performance improved! ;)

Ping

Sorry. I'm :+1: on this.

#534 and #544 both fix this issue. Though I wouldn't care to trash my suggested solution, it also provides some additional speedups. @seocam maybe you want to have a look on #544, and let me know, if you could live with that implementation, or maybe make further suggestions on it?

I'd lean towards #544, would love to hear your thoughts @seocam and @sigmavirus24. :)

@ml31415 actually #544 does not fix this issue. I've done a PR to your branch with the two tests that are failing (https://github.com/ml31415/urllib3/pull/1). If it really fixes the issue I think the tuning is the way to go.

For the first patch, the problem is, that it is not calling `.extend()`, which would preserve the original duplicate headers. `.update()` replaces header entries completely. See `test_extend()` for that. So I fixed that and added a separate test for update. I also modified `__init__()`, so now it's using `.extend()` by default, and removed `from_httplib()`, which is not used anymore. For the second patch, this is not how I understood the defined behaviour of `.getlist()`. Right now, it's preserving the duplicate header entries as delivered by the server as a list, not a split. I agree, that this might be a desired behaviour, but it would also add issues with headers containing commas, as demonstrated by you already. So there is probably no clear solution, what is right and what is wrong. I'd suggest to stay as compatible as possible with `cookielib` and similar users of the header object.

@ml31415 I can't follow you. How would `.getlist()` "add issueus with headers"? IMHO it should only return the list of headers without splitting. I'm my understand the `.getlist()` should return a list of values for a given header. On current master it does that by splitting (what I consider wrong) in my PR it does that by return the values kept in the `._data`.

If I got it right you don't think that `.getlist()` is the right thing to return the all header values for a given key. In that case how would you do that.

Currently that's what I have in my code:

```python
if six.PY3:  # Python 3:
   cookies = response.msg.get_all('set-cookie') or tuple()
else:  # Python 2:
   cookies = response.msg.getheaders('set-cookie')

for cookie_string in cookies:
    # do whatever with each cookie
```

What I would like to do is just:

```python
cookies = response.headers.getlist('set-cookie')
for cookie_string in cookies:
    # do whatever with each cookie
```

@shazow, @ml31415 does that sound reasonable? Isn't  that the desired behavior for `.getlist`?

I really believe the current behavior is broken and I think my two tests shows that.

My mistake, looks like we absolutely agree on the implementation of `.getlist`. Adding the test from the second patch won't hurt and should be passed, nevertheless, the behaviour is already tested well in `test_collections` imho. Your code sample should run fine with the new implementation. What I was referring to: When a web page delivers more cookies in one single header line, you have to split it yourself, it won't be done by `.getlist`.

@ml31415 I believe if a server is sending multiple cookies in one single header it's doing something wrong. The browser itself doesn't support multiple cookies in one single line (take a look on my second comment on this thread). I don't think that we should worry about this case.

> The browser itself doesn't support multiple cookies in one single line (take a look on my second comment on this thread). I don't think that we should worry about this case.

I'm not sure I can find the specific issue, but I have a feeling that this exact behaviour we implemented to fix something else. Then again, if there are no tests which fail with this behaviour altered, then
`¯\_(ツ)_/¯` is what I say.

@shazow, @sigmavirus24: so? :)
Would you like me to send the tests in a different PR?

@seocam How do you feel about @ml31415's PR? If you think we should aim to merge that one and you'd like to help @ml31415, that's appreciated. If you feel that it makes more sense to merge your PR first and let @ml31415 rebase his work on yours, that works too. Your call. :)

My 2¢: I think @seocam's clearly fixes the issue. It's a valid issue and one that should be fixed as soon as possible. It seems that @ml31415's PR is moving far more slowly now and it hasn't been updated to fix the problems here. In the event that #544 takes even longer than expected, I'd rather have a bug fixed merged than no fixes whatsoever. I'd take this now as it already improves some performance and it fixes a rather serious bug. If #544 then gets itself into good shape for merging and doesn't break the fix in #534, then it should be merged. I would personally prioritize bug fixing over features.

@sigmavirus24 Fair point. Merged #534.

:cake: @shazow 

@sigmavirus24 which open points? Testcases from here were already integrated into #544 and tests there passed.