duplicate/multiple headers are lost

When the server returns multiple headers of the same type, duplicated headers are lost. Example:

WWW-Authenticate: Negotiate
WWW-Authenticate: NTLM

Results in only NTLM in the www-authenticate header.


<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9193217-duplicate-multiple-headers-are-lost?utm_campaign=plugin&utm_content=tracker%2F192525&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F192525&utm_medium=issues&utm_source=github).
</bountysource-plugin>

Seems to be a result of https://github.com/shazow/urllib3/pull/544#issuecomment-73410346

I have tests broken in my apps as well but didn't have time to debug. For now I froze urllib3 version to 1.10.1. I might have time to take a look on it later today.

Arg, we need some better tests for this.

Hopefully somebody (@ml31415?) has a chance to take a look at this soon, otherwise I'll roll back #544 and push a hotfix release.

@shazow <3

@lukasa fwiw, I want to hold off on a 2.5.5 (requests) release until this is sorted out

@sigmavirus24 Good call, we should aim to fix this sharpish then.

So looking at the HTTPHeaderDict, there's some real weirdness in its logic that I didn't catch before.

For example, its docstrings are fabrications. Here's the docstring for `HTTPHeaderDict.add()`:

```python
        """Adds a (name, value) pair, doesn't overwrite the value if it already
        exists.

        >>> headers = HTTPHeaderDict(foo='bar')
        >>> headers.add('Foo', 'baz')
        >>> headers['foo']
        'bar, baz'
        """
```

Here's the code from my terminal:

```python
>>> from urllib3._collections import HTTPHeaderDict
>>> d = HTTPHeaderDict(foo='bar')
>>> d.add('foo', 'baz')
>>> d['foo']
'baz'
```

The bigger problem is that it's based on a misunderstanding of the RFCs. There's a fixed list of header fields that are allowed to have multiple values in the code: `cookie`, `set-cookie`, and `set-cookie2`. The problem is that RFC 7230 section 3.2.2 reads:

>    A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).

This frozenset includes the well known exceptions, but does not allow for the fact that any header defined as a comma-separated list (which is many of them) are *also* allowed.

In the short term, I recommend backing out #544 because it's provably wrong. Given that I need one for `hyper as well`, it might be worth us commonalising a HTTP header dict that doesn't try to be too clever to use as a baseline, with a well-defined suite of unit tests that confirm its behaviour. At that point we could revisit the performance improvements in #544, guaranteeing that function isn't regressed.

In the defense of #544, that lying docstring is a relic from the previous implementation, though it's quite conspicuous that it is unchanged in the middle of a large set of changes.

Would be also good to remove (or at least hide) the 1.10.2 from PyPI.

I have a fix in #562 but I'm pretty sure the tests will fail. I also didn't add any new ones. I tested most of this by hand. Next step is to add actual tests and make sure they all pass

Comma separated values are eaten without comment from #544. For me, #544 works as specified, and it rather looks like the clients don't. I had asked, if I should add the frozenset to enforce the duplicate headers only to this well known ones. Removing this check is not a big deal. In that case, any special headers or frozenset won't be necessary at all. #544 was carefully tweaked, not sure what's the idea on reverting most of it's logic. Yes, the docstring never got fixed, though.

Another note. Maybe it would be worth to discuss and specify a desired behaviour internally, before doing further changes. It's not `urllib3` doing something wrong here. It should be clearly defined, when and where to ignore the spec, and why, and how to behave in that cases.

@ml31415 I'm not proposing to ignore the spec, I'm proposing that the HTTPHeaderDict doesn't behave correctly because it eats headers that appear twice. The following is a totally valid header list:

```
content-length: 300
server: h2o/1.0.2-alpha1
connection: keep-alive
www-authenticate: basic
www-authenticate: digest
```

When passed to the HTTPHeaderDict, the dict from #544 eats that pair of headers, providing only one, where the previous implementation would have merged them.

Agree that the failure was mine in code review, but we should definitely fix it now.

Agree with @Lukasa, this bug breaks authentication schemes when the server provides multiple authentication methods with multiple "WWW-Authenticate" headers.

Hmm, sorry for messing this up! Looks like it comes down to what the spec means with "entire field value for that header field"? So far, to me the field value was everything followed after the colon to a line end not followed by space. Thinking about it now, looks like I was horribly wrong with my interpretation. 

The fix for this would be, to simply remove the field name check in `add`, a three lines change, or to add all csl-allowed headers in the frozen set. Would the well known exceptions, probably containing cookies with commas, require any special handling? Probably not, comma-joining them on `__getitem__` might still be the best option, and `getlist` is there for help.


I have another bug with the new implementation #564 

For those keeping track, this issue has spread out widely. We have:

- this issue, the central discussion forum. This has two proposed fixes.
- #564, another issue listing an inconsistency with the `HTTPHeaderDict`. This has no proposed fix, but it does have a proposed test.
- #562, one proposed fix for this issue by @sigmavirus24 
- #563, another proposed fix for this issue by @ml31415 
- #565, a proposed test for the #564 inconsistency

We need to merge *at most* one of #562 and #563, and we need to merge #565 and an associated fix for #564.

I consider it compelling that Go's implementation of the 'header dict' is a map of strings to slices of strings: `type Header map[string][]string`.

Also @ml31415, don't worry about messing it up. It happens, HTTP headers appear to be a simple structure and turn out to be nightmarishly complicated. I really should have caught this stuff in code review, so I bear at least as much blame as you do. =)

For those who care about doing headers properly, for now I'd like to concentrate that discussion on Lukasa/hyper#91. urllib3 has backward-compatibility and user-friendliness concerns that mean that `hyper` is more of a playground for us to get this right. People with interest and opinions should hop over to that issue and track it.

I'll turn it into a pull request later tonight with my gistified code.